/* ============================================================================= */
/*  SITE WIDE STYLE SET                                                          */
/* ============================================================================= */
/* ============================================================================= */
/*  .dbg-Border                                                                  */
/* ============================================================================= */
.dbg-Border {
  box-shadow: black 0px 0px 0px 1px inset;
  background-color: rgba(204, 204, 204, 0.25); }
  .dbg-Border * {
    box-shadow: black 0px 0px 0px 1px inset;
    background-color: rgba(204, 204, 204, 0.25); }

/* ============================================================================= */
/*  End .dbg-Border                                                              */
/* ============================================================================= */
/* ============================================================================= */
/*  .sw-Image-w_fluid                                                            */
/* ============================================================================= */
.sw-Image-w_fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
  line-height: 0; }

/* ============================================================================= */
/*  End .sw-Image-w_fluid                                                        */
/* ============================================================================= */
/* ============================================================================= */
/*  .sw-SR-only                                                                  */
/* ============================================================================= */
.sw-SR-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* ============================================================================= */
/*  End .sw-SR-only                                                              */
/* ============================================================================= */
/* ============================================================================= */
/*  End SITE WIDE STYLE SET                                                      */
/* ============================================================================= */
/* ============================================================================= */
/*  .sw-SR-only                                                                  */
/* ============================================================================= */
.media_Inner {
  width: 852px;
  margin: 0 auto;
  position: relative; }

.media-Resources {
  display: flex; }

.media-Resource {
  border: solid 1px #999999;
  width: 426px;
  height: 240px;
  position: relative; }

.media-Resource-file .media-Resource_Inner {
  text-align: center; }

.media_File {
  background-color: #ffffff; }

.media_Canvas {
  width: 426px;
  height: 240px;
  transform: scaleX(-1);
  position: relative;
  z-index: 1; }

.media_Camera {
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  top: 0;
  left: 0; }

.cntl {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2; }

.cntl_Inner {
  display: flex;
  flex-direction: column; }

.cntl_Btn {
  background-color: #ffffff;
  display: block; }
