/* ============================================================================= */
/*  SITE WIDE STYLE SET                                                          */
/* ============================================================================= */
/* ============================================================================= */
/*  .dbg-Border                                                                  */
/* ============================================================================= */
.dbg-Border {
  box-shadow: black 0px 0px 0px 1px inset;
  background-color: rgba(204, 204, 204, 0.25); }
  .dbg-Border * {
    box-shadow: black 0px 0px 0px 1px inset;
    background-color: rgba(204, 204, 204, 0.25); }

/* ============================================================================= */
/*  End .dbg-Border                                                              */
/* ============================================================================= */
/* ============================================================================= */
/*  .sw-Image-w_fluid                                                            */
/* ============================================================================= */
.sw-Image-w_fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
  line-height: 0; }

/* ============================================================================= */
/*  End .sw-Image-w_fluid                                                        */
/* ============================================================================= */
/* ============================================================================= */
/*  .sw-SR-only                                                                  */
/* ============================================================================= */
.sw-SR-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* ============================================================================= */
/*  End .sw-SR-only                                                              */
/* ============================================================================= */
/* ============================================================================= */
/*  End SITE WIDE STYLE SET                                                      */
/* ============================================================================= */
.ex-main {
  padding: 100px 0; }

/* ============================================================================= */
/*  .sw-SR-only                                                                  */
/* ============================================================================= */
.media_Outer {
  margin: 0 0 80px; }

.media_Inner {
  width: 852px;
  margin: 0 auto;
  position: relative; }

.media-Resources {
  border: solid 1px #999999;
  display: flex; }

.media-Resource {
  width: 426px;
  height: 240px;
  position: relative; }

/* &.media-Resource */
.media-Resource-camera {
  border-right: solid 1px #999999; }

.media-Resource-file .media-Resource_Inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; }

.media-Resource-dragover {
  border: solid 2px #4688f1; }

/* End &.media-Resource */
.media_File {
  background-color: #ffffff; }

.media_Canvas {
  width: 426px;
  height: 240px;
  transform: scaleX(-1);
  position: relative;
  z-index: 1; }

.media_Camera {
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  top: 0;
  left: 0; }

.cntl {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2; }

.cntl_Inner {
  display: flex;
  flex-direction: column; }

.cntl_Btn {
  background-color: #ffffff;
  display: block; }

/* ============================================================================= */
/*  .result                                                                      */
/* ============================================================================= */
.result_Outer {
  margin: 0 0 80px; }

.result_Inner {
  width: 852px;
  margin: 0 auto; }

.result_List {
  border: solid 1px #999999;
  display: flex;
  height: 400px; }

.result_ImgContainer {
  background-image: url(../shared/images/image-icon-0.png);
  background-position: center;
  border-right: solid 1px #999999;
  width: 50%;
  height: 400px;
  position: relative; }

.result_Img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%); }

.result-Data {
  width: 50%;
  height: 400px;
  overflow: scroll; }

.result-Data_Inner {
  padding: 20px; }

/* ============================================================================= */
/*  End .result                                                                  */
/* ============================================================================= */
.memo_Outer {
  margin: 0 0 80px; }

.memo_Inner {
  width: 852px;
  margin: 0 auto; }
